body {
    font-family: sans-serif;
    font-weight: lighter;
    background-color: rgb(51, 56, 55);
}

h1 {
    color: black;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-weight: 700;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p, a {

    color: white;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    line-height: 1.7em;
    font-size: 13pt;
}

p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a:hover {
    color: black;
}
